{% extends 'nav.html' %}
{% block title %}
About page
{% endblock title %}
{% block body %}
<br>
<br>
<br>
<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>About Us</h2>
      </div>
      <br>

      <div class="row content">
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
          <p>
            At Pc&Fashion , we believe in the power of girls. Our journey began with a simple mission: to empower every 
            girl to embrace her uniqueness, express herself boldly, and shine with confidence.
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i>Celebrating girls' uniqueness through trendy and chic products</li>
            <li><i class="ri-check-double-line"></i>Dedicated to making every girl feel fabulous, inside and out</li>
            <li><i class="ri-check-double-line"></i>Inspiring girls to shine bright with our trendy and inclusive collection</li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
          <p>
            We curate a vibrant collection of fashion-forward products, carefully designed to inspire and celebrate girls 
            of all ages. From trendy apparel to playful accessories, each item in our collection is thoughtfully crafted 
            to ignite creativity, foster self-expression, and encourage girls to dream big. Join us as we redefine what 
            it means to be a girl in today's world and embark on this empowering journey together.
        </p>
        <br>
          <a href="#" class="btn-learn-more">Learn More</a>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->
  <br>
  {% load static %}
  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts">
    <div class="container">

      <div class="row">
        <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start" data-aos="fade-right" data-aos-delay="150">
          <img src="{% static 'assets/img/happy1.jpg' %}" alt="" class="img-fluid">
        </div>

        <div class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0" data-aos="fade-left" data-aos-delay="300">
          <div class="content d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="bi bi-emoji-smile"></i>
                  <span data-purecounter-start="0" data-purecounter-end="1000" data-purecounter-duration="1" class="purecounter"></span>
                  <p><strong>Happy Clients</strong> Thrilled to have reached 10k satisfied clients! Your happiness is our greatest achievement</p>
                </div>
              </div>

              <div class="col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="bi bi-journal-richtext"></i>
                  <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1" class="purecounter"></span>
                  <p><strong>Projects</strong>  Completed and delivered with precision: 85 successful projects and counting.</p>
                </div>
              </div>

              <div class="col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="bi bi-clock"></i>
                  <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="1" class="purecounter"></span>
                  <p><strong>18 years of expertise and counting</strong> – trust our seasoned knowledge for unparalleled service.</p>
                </div>
              </div>

              <div class="col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="bi bi-award"></i>
                  <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                  <p><strong>Recipient of prestigious awards</strong> – recognized for excellence in our field</p>
                </div>
              </div>
            </div>
          </div><!-- End .content-->
        </div>
      </div>

    </div>
  </section><!-- End Counts Section -->

<br>
<br>

{% endblock body %}
