{% extends 'nav.html' %}
{% block title %}
Pc&Fashion
{% endblock title %}

{% block body %}
{% load static %}
<br>
<br>
<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container">
  
      <div class="section-title" data-aos="fade-up">
        <h2>Privacy Policy</h2>
      </div>
      <br>
  
      <div class="row content">
        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="150">
          <ul>
            <li><i class="ri-check-double-line"></i>Our ecommerce website dedicated to girls' products is committed to safeguarding the privacy and security of our users. We understand the importance of protecting personal information and are dedicated to maintaining the trust and confidence of our visitors and customers.</li>
            <li><i class="ri-check-double-line"></i>Our privacy policy outlines how we collect, use, and protect the information you provide to us when using our website or making a purchase</li>
            <li><i class="ri-check-double-line"></i> We collect personal information such as name, email address, shipping address, and payment details solely for the purpose of processing orders and providing a personalized shopping experience. Rest assured that we never sell or share your information with third parties for marketing purposes.</li>
            <li><i class="ri-check-double-line"></i>We use industry-standard security measures to ensure the confidentiality and integrity of your data. Our website is equipped with SSL encryption to protect sensitive information transmitted during online transactions</li>
            <li><i class="ri-check-double-line"></i> Additionally, we regularly update our security protocols to mitigate risks and prevent unauthorized access.</li>
            <li><i class="ri-check-double-line"></i>We may use cookies and similar technologies to enhance your browsing experience and improve our services. These cookies enable us to track user interactions, analyze website traffic, and personalize content based on your preferences. You have the option to disable cookies in your browser settings, although this may affect certain functionalities of the website.</li>
            <li><i class="ri-check-double-line"></i>Our website may contain links to third-party websites or services for your convenience. However, we are not responsible for the privacy practices or content of these external sites. We encourage you to review the privacy policies of any third-party websites you visit.</li>
            <li><i class="ri-check-double-line"></i>By using our website and providing your personal information, you consent to the collection and use of this information in accordance with our privacy policy. We reserve the right to update or modify this policy at any time, and any changes will be reflected on this page.</li>
            <li><i class="ri-check-double-line"></i>If you have any questions or concerns about our privacy practices or policies, please don't hesitate to contact us. Thank you for choosing our ecommerce website for your girls' product needs.</li>
          </ul>
        </div>
      </div>
  
    </div>
  </section><!-- End About Us Section -->
{% endblock body %}